.App{

    background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.info.fastread.in%2Flong-and-short-essay-on-bank-in-english%2F&psig=AOvVaw1OfZZRz1XHTpb2bZu5lt2z&ust=1617845985199000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNC5yJCA6-8CFQAAAAAdAAAAABAK");

}
.bg{
    height: 600px;
  background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.info.fastread.in%2Flong-and-short-essay-on-bank-in-english%2F&psig=AOvVaw1OfZZRz1XHTpb2bZu5lt2z&ust=1617845985199000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNC5yJCA6-8CFQAAAAAdAAAAABAK");
}
/* .bgC{
    height: 500px;
    background-image:url("https://www.tjsb.net/internetbanking/view/images/login_07.gif ");

} */
.bgf{
    
   width: 50%;
}